@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: hsl(212, 45%, 89%);
    justify-content: center;
    align-items: center;
}

div {
    display: flex;
    flex-direction: column;
    border-radius: 18px;
}

.wrapper {
    max-width: 375px;
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.text {
    padding: 30px 20px 30px 20px;
}

h1, p {
    text-align: center;
}

h1 {
    font-size: 1.75rem;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin-bottom: 20px;
}

p {
    font-size: 1.25rem;
    color: hsl(220, 15%, 55%);
}

img {
    width: 100%;
    border-radius: 12px;
}